/* apply a natural box layout model to all elements */
/* #olapic-logo *, #olapic-logo *:before, #olapic-logo *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; box-sizing: border-box;
} */
#olapic-logo div { /* overflow: hidden; */ }
#olapic-logo{
    height: 160px;
    width: 160px;
}
.icons{ height: 23.3%; /* background: #FFFFFF; */ position: relative;}
.icons-sub{ height: 10.34%; /* background: #FFFFFF; */ position: relative;}
.camara-head{ height: 10.34%; overflow: hidden; position: relative;}
.camara-top{ height: 5%; background: #FFFFFF; }
.camara-body{ height: 48%; background: #FFFFFF;}
.camara-bottom{ height: 8.3%; background: #FFFFFF; }
.camara-top{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.camara-head div{
    float: left;
    height: 100%;
    position: relative;
}
.camara-head div.control1,
.camara-head div.control3{
    width: 31.03%;
}
.camara-head div.control2{
    width: 37.93%;
    background: #FFFFFF;   
    border-radius: 14% 14% 0% 10%/33% 33% 0% 0%;
}
.camara-head div.control1:before,
.camara-head div.control1:after,
.camara-head div.control3:before{
    content: "";
    display: block;
    background: #FFFFFF;
    position: absolute;
}
.camara-head div.control1:before,
.camara-head div.control3:before{
    width: 44.44%;
    height: 66.66%;
    bottom: 0px;
}
.camara-head div.control3:before{
    left: 33.33%;
}
.camara-head div.control1:before{
    left: 22.22%;
    border-radius: 90% 74% 10% 10%/150% 0% 0% 0%;
}
.camara-head div.control1:after{
    width: 22.22%;
    height: 35.33%;
    bottom: 0px;
    left: 34.33%;
    top: 0%;
    background:#FFFFFF;
}
.camara-body:before{
    content: "\26AC";
    position: relative;
    width: 100%;
    height: 100%;
    color: yellowgreen;
    display: block;
    font-size: 10em;
    left: 21.31%;
    top: -119%;
}
.camara-bottom{
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.icons div{
    background: red;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.2em;
}
.icons div, 
.icons-sub div{
    float: left;
    height: 100%;
    width: 31%;
    margin-right: 3.4%;
    position: relative;
}

.icons div.hash,
.icons-sub div.hash{
    margin-right: 0%;
    position: absolute;
    width: 32%;
    right: 0%;
}
.icons div.stats { background: #ED1555; font-size: 2px;}
.icons div.stats i {
    display:block;
    width: 1em;
    height: 1em;
    background: #FCCFDC;
    position:absolute;
    left: 5em;
    bottom: 4em;
    box-shadow: 0em -1em 0em 0em #FCCFDC, 1em 0em 0em 0em #FFFFFF, 1em -1em 0em 0em #FFFFFF, 2em 0em 0em 0em #F35688, 2em -1em 0em 0em #F35688,
    4em 0em 0em 0em #FCCFDC, 4em -1em 0em 0em #FCCFDC, 4em -2em 0em 0em #FCCFDC, 4em -3em 0em 0em #FCCFDC,
    5em 0em 0em 0em #FFFFFF, 5em -1em 0em 0em #FFFFFF, 5em -2em 0em 0em #FFFFFF, 5em -3em 0em 0em #FFFFFF,
    6em 0em 0em 0em #F35688, 6em -1em 0em 0em #F35688, 6em -2em 0em 0em #F35688, 6em -3em 0em 0em #F35688,
    8em 0em 0em 0em #FCCFDC, 8em -1em 0em 0em #FCCFDC, 8em -2em 0em 0em #FCCFDC, 8em -3em 0em 0em #FCCFDC, 8em -4em 0em 0em #FCCFDC, 8em -5em 0em 0em #FCCFDC,
    9em 0em 0em 0em #FFFFFF, 9em -1em 0em 0em #FFFFFF, 9em -2em 0em 0em #FFFFFF, 9em -3em 0em 0em #FFFFFF, 9em -4em 0em 0em #FFFFFF, 9em -5em 0em 0em #FFFFFF,
    10em 0em 0em 0em #F35688, 10em -1em 0em 0em #F35688, 10em -2em 0em 0em #F35688, 10em -3em 0em 0em #F35688, 10em -4em 0em 0em #F35688, 10em -5em 0em 0em #F35688,
    12em 0em 0em 0em #FCCFDC, 12em -1em 0em 0em #FCCFDC, 12em -2em 0em 0em #FCCFDC, 12em -3em 0em 0em #FCCFDC, 12em -4em 0em 0em #FCCFDC, 12em -5em 0em 0em #FCCFDC, 12em -6em 0em 0em #FCCFDC, 12em -7em 0em 0em #FCCFDC,
    13em 0em 0em 0em #FFFFFF, 13em -1em 0em 0em #FFFFFF, 13em -2em 0em 0em #FFFFFF, 13em -3em 0em 0em #FFFFFF, 13em -4em 0em 0em #FFFFFF, 13em -5em 0em 0em #FFFFFF, 13em -6em 0em 0em #FFFFFF, 13em -7em 0em 0em #FFFFFF,
    14em 0em 0em 0em #F35688, 14em -1em 0em 0em #F35688, 14em -2em 0em 0em #F35688, 14em -3em 0em 0em #F35688, 14em -4em 0em 0em #F35688, 14em -5em 0em 0em #F35688, 14em -6em 0em 0em #F35688, 14em -7em 0em 0em #F35688;
}

/* .icons div.stats:before { 
    content: "\2581\0020\2583\0020\2585\0020\2588";  
    font-size: 0.1em; 
    top: 40%;
 } */

.icons div.core { background: #73C166; font-size: 2px;}
/* .icons div.core:before { content: "\2764";} */

.icons div.core i {
    display:block;
    width: 1em;
    height: 1em;
    background: #00A4E3;
    position:absolute;
    left: 8em;
    top: 4em;
    box-shadow: 0em 2em 0em 0em #D8F1FB, 0em 3em 0em 0em #D8F1FB, 0em 6em 0em 0em #D8F1FB, 0em 7em 0em 0em #D8F1FB, 2em 0em 0em 0em #D8F1FB, 2em 1em 0em 0em #D8F1FB, 2em 4em 0em 0em #D8F1FB, 2em 5em 0em 0em #D8F1FB, 2em 8em 0em 0em #D8F1FB, 2em 9em 0em 0em #D8F1FB,
    6em 0em 0em 0em #D8F1FB, 6em 1em 0em 0em #D8F1FB, 6em 4em 0em 0em #D8F1FB, 6em 5em 0em 0em #D8F1FB, 6em 8em 0em 0em #D8F1FB, 6em 9em 0em 0em #D8F1FB,
    
    4em 0em 0em 0em #34BCEB, 4em 1em 0em 0em #34BCEB, 4em 4em 0em 0em #34BCEB, 4em 5em 0em 0em #34BCEB, 4em 8em 0em 0em #34BCEB, 4em 9em 0em 0em #34BCEB,
    8em 0em 0em 0em #34BCEB, 8em 1em 0em 0em #34BCEB, 8em 4em 0em 0em #34BCEB, 8em 5em 0em 0em #34BCEB, 8em 8em 0em 0em #34BCEB, 8em 9em 0em 0em #34BCEB,
    10em 2em 0em 0em #34BCEB, 10em 3em 0em 0em #34BCEB, 10em 6em 0em 0em #34BCEB, 10em 7em 0em 0em #34BCEB, 
    
    1em 2em 0em 0em #FFFFFF, 1em 3em 0em 0em #FFFFFF, 1em 6em 0em 0em #FFFFFF, 1em 7em 0em 0em #FFFFFF, 2em 2em 0em 0em #FFFFFF, 2em 3em 0em 0em #FFFFFF, 2em 6em 0em 0em #FFFFFF, 2em 7em 0em 0em #FFFFFF, 3em 0em 0em 0em #FFFFFF, 3em 1em 0em 0em #FFFFFF, 3em 2em 0em 0em #FFFFFF, 3em 3em 0em 0em #FFFFFF, 3em 4em 0em 0em #FFFFFF, 3em 5em 0em 0em #FFFFFF, 3em 6em 0em 0em #FFFFFF, 3em 7em 0em 0em #FFFFFF, 3em 8em 0em 0em #FFFFFF, 3em 9em 0em 0em #FFFFFF, 7em 0em 0em 0em #FFFFFF, 7em 1em 0em 0em #FFFFFF, 7em 2em 0em 0em #FFFFFF, 7em 3em 0em 0em #FFFFFF, 7em 4em 0em 0em #FFFFFF, 7em 5em 0em 0em #FFFFFF, 7em 6em 0em 0em #FFFFFF, 7em 7em 0em 0em #FFFFFF, 7em 8em 0em 0em #FFFFFF, 7em 9em 0em 0em #FFFFFF,
    4em 2em 0em 0em #FFFFFF, 4em 3em 0em 0em #FFFFFF, 5em 2em 0em 0em #FFFFFF, 5em 3em 0em 0em #FFFFFF, 6em 2em 0em 0em #FFFFFF, 6em 3em 0em 0em #FFFFFF, 8em 2em 0em 0em #FFFFFF, 8em 3em 0em 0em #FFFFFF, 9em 2em 0em 0em #FFFFFF, 9em 3em 0em 0em #FFFFFF,
    4em 6em 0em 0em #FFFFFF, 4em 7em 0em 0em #FFFFFF, 5em 6em 0em 0em #FFFFFF, 5em 7em 0em 0em #FFFFFF, 6em 6em 0em 0em #FFFFFF, 6em 7em 0em 0em #FFFFFF, 8em 6em 0em 0em #FFFFFF, 8em 7em 0em 0em #FFFFFF, 9em 6em 0em 0em #FFFFFF, 9em 7em 0em 0em #FFFFFF;
}
.icons div.hash { background: #00A4E3; font-size: 2px;}
.icons div.hash i {
    display:block;
    width: 1em;
    height: 1em;
    background: #00A4E3;
    position:absolute;
    left: 8em;
    top: 4em;
    box-shadow: 0em 2em 0em 0em #D8F1FB, 0em 3em 0em 0em #D8F1FB, 0em 6em 0em 0em #D8F1FB, 0em 7em 0em 0em #D8F1FB, 2em 0em 0em 0em #D8F1FB, 2em 1em 0em 0em #D8F1FB, 2em 4em 0em 0em #D8F1FB, 2em 5em 0em 0em #D8F1FB, 2em 8em 0em 0em #D8F1FB, 2em 9em 0em 0em #D8F1FB,
    6em 0em 0em 0em #D8F1FB, 6em 1em 0em 0em #D8F1FB, 6em 4em 0em 0em #D8F1FB, 6em 5em 0em 0em #D8F1FB, 6em 8em 0em 0em #D8F1FB, 6em 9em 0em 0em #D8F1FB,
    
    4em 0em 0em 0em #34BCEB, 4em 1em 0em 0em #34BCEB, 4em 4em 0em 0em #34BCEB, 4em 5em 0em 0em #34BCEB, 4em 8em 0em 0em #34BCEB, 4em 9em 0em 0em #34BCEB,
    8em 0em 0em 0em #34BCEB, 8em 1em 0em 0em #34BCEB, 8em 4em 0em 0em #34BCEB, 8em 5em 0em 0em #34BCEB, 8em 8em 0em 0em #34BCEB, 8em 9em 0em 0em #34BCEB,
    10em 2em 0em 0em #34BCEB, 10em 3em 0em 0em #34BCEB, 10em 6em 0em 0em #34BCEB, 10em 7em 0em 0em #34BCEB, 
    
    1em 2em 0em 0em #FFFFFF, 1em 3em 0em 0em #FFFFFF, 1em 6em 0em 0em #FFFFFF, 1em 7em 0em 0em #FFFFFF, 2em 2em 0em 0em #FFFFFF, 2em 3em 0em 0em #FFFFFF, 2em 6em 0em 0em #FFFFFF, 2em 7em 0em 0em #FFFFFF, 3em 0em 0em 0em #FFFFFF, 3em 1em 0em 0em #FFFFFF, 3em 2em 0em 0em #FFFFFF, 3em 3em 0em 0em #FFFFFF, 3em 4em 0em 0em #FFFFFF, 3em 5em 0em 0em #FFFFFF, 3em 6em 0em 0em #FFFFFF, 3em 7em 0em 0em #FFFFFF, 3em 8em 0em 0em #FFFFFF, 3em 9em 0em 0em #FFFFFF, 7em 0em 0em 0em #FFFFFF, 7em 1em 0em 0em #FFFFFF, 7em 2em 0em 0em #FFFFFF, 7em 3em 0em 0em #FFFFFF, 7em 4em 0em 0em #FFFFFF, 7em 5em 0em 0em #FFFFFF, 7em 6em 0em 0em #FFFFFF, 7em 7em 0em 0em #FFFFFF, 7em 8em 0em 0em #FFFFFF, 7em 9em 0em 0em #FFFFFF,
    4em 2em 0em 0em #FFFFFF, 4em 3em 0em 0em #FFFFFF, 5em 2em 0em 0em #FFFFFF, 5em 3em 0em 0em #FFFFFF, 6em 2em 0em 0em #FFFFFF, 6em 3em 0em 0em #FFFFFF, 8em 2em 0em 0em #FFFFFF, 8em 3em 0em 0em #FFFFFF, 9em 2em 0em 0em #FFFFFF, 9em 3em 0em 0em #FFFFFF,
    4em 6em 0em 0em #FFFFFF, 4em 7em 0em 0em #FFFFFF, 5em 6em 0em 0em #FFFFFF, 5em 7em 0em 0em #FFFFFF, 6em 6em 0em 0em #FFFFFF, 6em 7em 0em 0em #FFFFFF, 8em 6em 0em 0em #FFFFFF, 8em 7em 0em 0em #FFFFFF, 9em 6em 0em 0em #FFFFFF, 9em 7em 0em 0em #FFFFFF;
}
/* .icons div.hash:before { content: "\0023"; font-size: 1.2em; font-weight: bold;} */

.icons div:before {
    top: 14%; 
    position: relative; 
    font-size: 1.6em;
}
.icons-sub div:before,
.icons-sub div:after{
    content: "";
    background-position: 0%;
    position: absolute;
}
.icons-sub div.stats:before{
    background: linear-gradient(to left bottom, #ED1555 50%, transparent 50%);
    left: 60%;
    top: 0px;
}
.icons-sub div.core:before{
    background: linear-gradient(to right bottom, #73C166 50%, transparent 50%);
    left: 52%;
    top: -20%;
}

.icons-sub div.core:after{
    background: linear-gradient(to left bottom, #73C166 50%, transparent 50%);
    left: 26%;
    top: -20%;
}
.icons-sub div.hash:before{
    background: linear-gradient(to right bottom, #00A4E3 50%, transparent 50%);
    left: 10%; 
    top: 0px;
}

.icons-sub div.stats:before,
.icons-sub div.core:before,
.icons-sub div.core:after,
.icons-sub div.hash:before{
    width: 26%;
    height: 101%;
}
/*
(8*100)/18



60 > 100
14

58 > 100
14
 */

body{
    background: yellowgreen;
    padding: 100px
}